body {
    background: purple;
    font-family: Arial, Helvetica, sans-serif;
     margin-left: 30px;
}


h1 {
    margin-top: 30px;
    margin-bottom: 40px;
    color: black;
}

.question {
    margin-bottom: 50px;
    font-weight: bold;
    
}

label {
    display: block;

    font-weight: 50px;
    margin-bottom: 10px;
}


input[type="text"] ,
input[type="date"] ,
textarea {
    width: 20%;
    color: black;
    background-color: white;
    border-bottom: 2px solid green;
    padding: 5px;
}

.option {
    display: flex;
    align-items: left;
    font-weight: lighter;
    margin-bottom: 20px;
    cursor: pointer;
}

.custom-radio {
    width: 10px;
    height: 20px;
   margin-right: 10px;
   position: relative;
}

button {
    background-color: green;
    color: white;
    width: 20%;
    height: 40px
}